/* variables */
:root {
	--clr-1: #fbffa7;
	--clr-2: #b1c5ff;
	--clr-3: #b6ffc0;
	--clr-4: #ff764d;
	--clr-5: #d5b3ff;
	--clr-6: #0000ff;

    --fs-1: 1rem;
    --fs-2: 1.333rem;
    --fs-3: 1.777rem;
    --fs-4: 2.369rem;
    --fs-5: 3.157rem;
    --fs-small: 0.75rem;
}

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
  }
  
input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* fonts */
@font-face {
    font-family: 'futura_ptbook';
    src: url('./fonts/futuraptbook-webfont.woff2') format('woff2'),
         url('./fonts/futuraptbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ptheavy';
    src: url('./fonts/futuraptheavy-webfont.woff2') format('woff2'),
         url('./fonts/futuraptheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ptlight';
    src: url('./fonts/futuraptlight-webfont.woff2') format('woff2'),
         url('./fonts/futuraptlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ptmedium';
    src: url('./fonts/futuraptmedium-webfont.woff2') format('woff2'),
         url('./fonts/futuraptmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ptbold';
    src: url('./fonts/futuraptbold-webfont.woff2') format('woff2'),
         url('./fonts/futuraptbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* base styles */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "futura_ptlight", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::selection {
    background-color: var(--clr-6);
    color: white;
}

p,
li {
    font-weight: bold;
}

/* mobile styles */

.main-nav,
.nav-2 {
    display: none;
}

.nav-1 {
    border-bottom: 2px solid rgb(224, 223, 223);
    gap: var(--fs-4);

    display: flex;
}

.nav-1,
.nav-3 {
    padding: var(--fs-2);
}


.nav-1 a img {
    width: 60px;
}

.main-nav-2 {
    display: flex;
    gap: var(--fs-1);
    margin-top: var(--fs-1);
    margin-bottom: var(--fs-1);
    font-weight: bold;
}

.main-nav-2 a {
    color: inherit;
}

.main-nav-2 li:nth-child(1) {
    color: var(--clr-4);
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.content-section-1,
.content-section-2,
.content-section-4,
.content-section-5,
.content-section-6,
.content-section-8,
.content-section-9,
.content-section-10,
.content-section-12,
.content-section-13,
.content-section-14 {
    grid-column: 2/-2;
}

.grid {
    grid-column: 1/-1;
}

.content-section-1 {
    background-image: url(./assets/hero-image.avif);
    background-size: cover;
    background-position: top;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section-1 svg {
    width: 50vw;
}

.content-section-2 h1 a {
    color: var(--clr-6);
}

h1 {
    margin-top: var(--fs-5);
    margin-bottom: var(--fs-2);
    font-size: var(--fs-2);
    font-family: "futura_ptmedium", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main p {
    margin-bottom: var(--fs-2);
}

.content-section-3,
.content-section-7,
.content-section-11 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 70vw;
}

.lemon-yellow {
    background-color: var(--clr-1);
    grid-column: 6/-1;
    grid-row: 1/-1;
}

.photo-1 {
    background-image: url(./assets/photo-1.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/7;
    grid-row: 3/-3;
}

.photo-2 {
    background-image: url(./assets/photo-2.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 8/-2;
    grid-row: 4/-4;
}

.video-container {
    height: 40vh;
}

.video-container > p {
    margin-bottom: 0;
}

.mint-green {
    background-color: var(--clr-3);
    grid-column: 1/8;
    grid-row: 1/-1;
}

.photo-3 {
    background-image: url(./assets/photo-3.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/6;
    grid-row: 2/7;
}

.photo-4 {
    background-image: url(./assets/photo-4.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/6;
    grid-row: 8/12;
}

.photo-5 {
    background-image: url(./assets/photo-5.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 7/-2;
    grid-row: 3/10;
}

.lavender-bg {
    background-color: var(--clr-5);
    grid-column: 3/11;
    grid-row: 1/-1;
}

.photo-6 {
    background-image: url(./assets/photo-6-a.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/7;
    grid-row: 4/9;
}

.photo-7 {
    background-image: url(./assets/photo-7.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 8/-1;
    grid-row: 3/11;
}

.content-section-13 > div {
    background-color: var(--clr-2);
    padding: var(--fs-2);
}

.content-section-13 h1:nth-child(2) {
    margin: 0;
    color: var(--clr-6);
}

.content-section-14 form {
    max-width: 100%;
    margin-top: var(--fs-4);
    margin-bottom: var(--fs-4);

    display: flex;
    flex-direction: column;
}

form * {
    margin-bottom: var(--fs-2);
}

textarea {
    height: calc( var(--fs-5) * 5 );
    padding: var(--fs-1);
    padding-top: 0;
}

input,
textarea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: calc(var(--fs-1) / 4);
}

form label {
    margin-bottom: 0;
}

footer {
    padding-top: var(--fs-2);
    border-top: 2px solid rgb(224, 223, 223);
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.footer-container {
    grid-column: 2/-2;
}

footer h3 {
    font-weight: bolder;
}

.main-footer-1 {
    width: calc( var(--fs-5) * 3 );
}

.social-media ul:nth-child(2) {
    display: flex;
    gap: var(--fs-1);
}

.social-media ul:nth-child(2) img {
    width: var(--fs-3);
}

.main-footer-1,
.social-media,
.education,
.sign-up-newsletter,
.community,
.language-and-location,
.main-footer-4 div {
    margin-bottom: var(--fs-4);
}

.main-footer-4 div:nth-child(2){
    gap: var(--fs-1);

    display: flex;
}

.main-footer-4 div:nth-child(2) p {
    order: 2;
}

footer a {
    color: black;
}

button {
    background-color: var(--clr-6);
    color: white;
    border: 1px solid rgb(218, 217, 217);
    padding-top: calc( var(--fs-1) / 2 );
    padding-bottom: calc( var(--fs-1) / 2 );
    border-radius: calc(var(--fs-1) / 4);
}

button:hover {
    background-color: #0000ce;
    box-shadow: 0px 0px #5656ff;
    border: 1px solid #5656ff;
}

.sign-up-newsletter form {
    display: flex;
    width: 100%;
}

#newsletter button {
    padding-right: var(--fs-2);
    padding-left: var(--fs-2);
}

#newsletter input {
    width: 100%;
    padding-left: var(--fs-1);
}

.social-media ul:nth-child(1) {
    margin-bottom: var(--fs-1);
}

.sign-up-newsletter div {
    margin-top: var(--fs-1);
}

/* Mobile Styles - Mega Menu Styles */

.drop_Down_Menu {
    font-size: larger;
    margin: 0;
    font-weight: normal;
    position: relative;

    display: flex;
}

.drop_Down_Menu::after {
    content: url(./assets/arrow_down.svg);
    position: absolute;
    width: 100%;
    white-space: pre;
    right: -45px;
    top: 3px;
}

.arrow_up::after {
    content: url(./assets/arrow_up.svg);
    position: absolute;
    width: 100%;
    white-space: pre;
    right: -45px;
    top: 3px;
}

.dropDownHeader {
    height: fit-content;
    background-color: var(--clr-6);
    color: white;

    transition: all 300ms ease;
}

.nav-1-menu {
    border-bottom: none;
    padding: var(--fs-2);
    gap: var(--fs-4);

    display: flex;
}

.nav-1-menu a img {
    width: 60px;
}

.mainNavMenu {
    display: block;
}

.nav-2-menu {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: var(--fs-4);
    padding-left: var(--fs-4);
}

.mainNavMenu a,
.nav-2-sub-1 a {
    color: white;
}

.nav-2-menu > div,
.nav-2-sub-2 li {
    margin-bottom: var(--fs-2);
}

.nav-2-menu a,
.nav-2-menu h3,
.nav-2-menu p {
    font-size: larger;
}

.main-nav-2-menu {
    font-weight: bold;
    padding-left: var(--fs-2);
    padding-right: var(--fs-2);
    }

.main-nav-2-menu a {
    color: inherit;
}

.main-nav-2-menu li:nth-child(1) {
    color: var(--clr-4);
}

/* tablet styles */
@media only screen and (min-width: 768px) {

    :root {
        --fs-1: 1rem;
        --fs-2: 1.5rem;
        --fs-3: 2.25rem;
        --fs-4: 3.375rem;
        --fs-5: 5.063rem;
        --fs-small: 0.667rem;
    }

    .content-section-2,
    .content-section-4,
    .content-section-5,
    .content-section-6,
    .content-section-8,
    .content-section-10,
    .content-section-12,
    .content-section-14 {
        grid-column: 3/-3;
}

}

/* desktop and laptop styles */
@media only screen and (min-width: 1200px) {

    :root {
        --fs-1: 1rem;
        --fs-2: 1.618rem;
        --fs-3: 2.618rem;
        --fs-4: 4.236rem;
        --fs-5: 6.854rem;
        --fs-small: 0.618rem;
    }

}
